<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en" >
<head th:replace="admin/_fragments_admin :: head(~{::title})">
    <title>博客管理</title>
</head>
<body>
    <!--  导航  ui:组件-->
    <nav th:replace="admin/_fragments_admin :: menuone(1)"></nav>

    <!-- 二级导航 -->
    <div th:replace="admin/_fragments_admin :: menutwo(2)"></div>

    <!-- 中间博客管理列表   -->
    <div class="m-padded-tb-huge">
        <div class="ui container">
            <form action="#" method="post" class="ui  segment form">
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="文章标题">
                    </div>
                    <div class="field">
                        <div class="ui selection dropdown">
                            <input type="hidden" name="type">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div class="item" data-value="1">数据结构与算法</div>
                                <div class="item" data-value="2">操作系统</div>
                                <div class="item" data-value="3">计算机网络</div>
                                <div class="item" data-value="4">计算机组成原理</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend">
                            <label for="recommend">推荐</label>       <!--推荐按钮，可以打勾-->
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui teal button">搜索</button>
                    </div>
                </div>
            </form>

            <div class="ui stackable segment">
                <!-- 博客信息 -->
                <table class="ui teal table">
                    <thead>
                    <tr>
                        <th>标题</th>
                        <th>类型</th>
                        <th>推荐</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>如何学习编程</td>
                        <td>学习日志</td>
                        <td>是</td>
                        <td>2017-10-09 21:08</td>
                        <td>
                            <a href="" class="ui mini teal basic button">修改</a>
                            <a href="" class="ui mini red basic button">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>如何学习编程</td>
                        <td>学习日志</td>
                        <td>是</td>
                        <td>2017-10-09 21:08</td>
                        <td>
                            <a href="" class="ui mini teal basic button">修改</a>
                            <a href="" class="ui mini red basic button">删除</a>
                        </td>
                    </tr>
                    </tbody>
                    <!-- 上一页、下一页、新增案件 -->
                    <tfoot>
                        <tr>
                            <th colspan="6">
                                <div class="ui mini pagination menu">
                                    <a href="" class="item">上一页</a>
                                    <a href="" class="item">下一页</a>
                                </div>
                                <a href="" class="ui right floated teal basic button">新增</a>
                            </th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>


    <br>
    <br>
    <!--  底部     -->
    <footer th:replace="admin/_fragments_admin :: footer" ></footer>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $('.ui.dropdown').dropdown();
    </script>

</body>
</html>