<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   <!--页面适配移动端大小-->
    <title>归档页面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
    <!--  导航  ui:组件-->
    <nav th:replace="_fragments :: menu(4)"></nav>

    <!--  中间  -->
    <div class="m-padded-tb-huge">
        <div class="ui container">   <!--用container来包裹元素，可以让屏幕自适应调整到适合大小-->
            <div class="ui stackable grid">
                <!-- 标签 -->
                <!-- 头部 -->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">归档</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h3 class="ui orange header m-inline-block"> 67 </h3> 篇博客
                        </div>
                    </div>
                </div>

                <!-- 归档列表 -->
                <div class="ui  attached teal segment">
                    <!-- 时间从后往前 比如2021-2020-2019 -->
                    <h2 class="ui center aligned header m-margin-archives-tb">2021</h2>
                    <div class="ui vertical mobile reversed stackable m-padded-tb">
                        <div class="ui fluid vertical menu">
                            <a href="#" class="item">失败要趁早
                                <div class="ui right aligned orange basic label">原创</div>
                            </a>
                            <a href="#" class="item">如何学习编程
                                <div class="ui right aligned orange basic label">转载</div>
                            </a>
                            <a href="#" class="item">二分查找
                                <div class="ui right aligned orange basic label">原创</div>
                            </a>
                            <a href="#" class="item">图床搭建
                                <div class="ui right aligned orange basic label">原创</div>
                            </a>
                        </div>
                    </div>
                    <h2 class="ui center aligned header m-margin-archives-tb">2020</h2>
                    <div class="ui vertical mobile reversed stackable m-padded-tb">
                        <div class="ui fluid vertical menu">
                            <a href="#" class="item">失败要趁早
                                <div class="ui right aligned orange basic label">原创</div>
                            </a>
                            <a href="#" class="item">如何学习编程
                                <div class="ui right aligned orange basic label">转载</div>
                            </a>
                            <a href="#" class="item">二分查找
                                <div class="ui right aligned orange basic label">原创</div>
                            </a>
                            <a href="#" class="item">图床搭建
                                <div class="ui right aligned orange basic label">原创</div>
                            </a>
                        </div>
                    </div>

                    <h2 class="ui center aligned header m-margin-archives-tb">2019</h2>
                    <div class="ui vertical mobile reversed stackable m-padded-tb">
                        <div class="ui fluid vertical menu">
                            <a href="#" class="item">失败要趁早
                                <div class="ui right aligned orange basic label">原创</div>
                            </a>
                            <a href="#" class="item">如何学习编程
                                <div class="ui right aligned orange basic label">转载</div>
                            </a>
                            <a href="#" class="item">二分查找
                                <div class="ui right aligned orange basic label">原创</div>
                            </a>
                            <a href="#" class="item">图床搭建
                                <div class="ui right aligned orange basic label">原创</div>
                            </a>
                        </div>
                    </div>
                </div>


                <!-- 底部，可能不需要 -->
                <div class="ui attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="left aligned column">
                            <a href="" class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="" class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- 页脚  -->
    <footer th:replace="_fragments :: footer" ></footer>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script>
        // 设置右上角按钮响应：显示菜单
        $('.menu.toggle').click(function (){
            $('.m-menu-item').toggleClass('m-mobile-hide');
        });

    </script>
</body>
</html>